.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.links-container a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: coral;
  font-size: 28px;
  transition: 0.3s ease;
}

.links-container a:hover {
  transform: scale(1.3);
}
